[import Service[Auth]] <!-- importing a service -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="../Views/css/login.css" rel="stylesheet">
  </head>
  <body>
    {{ }} <!-- here you can call php function within the .html files-->
	[import Template[templatename]] <!-- here importing a premade template, a fixed html part of the script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../Lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
