<!-- heres a fixed template, its bootstrap default navbar, this template can be exported on different pages
by doing [import Template[navbar]], its very useful if you have static html elements-->
<link rel="stylesheet" href="/Views/css/navbar.css">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="img-responsive ScaleLogo" src="Views/img/logomayenne.jpg" alt="">
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/help">Aide</a></li>
          <li><a href="#"><i class="fa fa-user"></i>Account</a></li>
          <li><a href="/disconnect"><i class="fa fa-power-off" aria-hidden="true"></i>Disconnect</a></li>
      </ul>
    </div>
  </div>
</nav>
